.article-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height: fit-content;
    max-width: 90%;
}

.article-content blockquote {
    border-left: 4px solid;
    border-left-color: inherit;
}

@media only screen and (max-width: 768px) {
    .article-content {
        font-size: 1.03em;
    }
}
.article-content p {
    margin-bottom: 0;
    font-size: 1.2em;
}

.article-content code {
    font-size: 1em;
}

.article-content pre {
    font-size: 1em;
}

.article-content li {
    font-size: 1.1em;
}
.article-content iframe {
    margin-top: 20px;
    width: 100%;
    height: 70vh;
}
